[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-travelify-theme"]
	path = themes/hugo-travelify-theme
	url = git@github.com:balaramadurai/hugo-travelify-theme.git
