<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  {{ partial "head" .}}
  <body{{ if (not .IsHome) }} class="inner-page"{{ end }}>
    <!-- ======= Header ======= -->
    {{ partialCached "header" . }}
    <!-- End Header -->

    <main id="main">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    <!-- End #main -->
    {{ partial "chatbot.html" . }}
    <!-- ======= Footer ======= -->
    {{ partialCached "footer" .}}
    <!-- End Footer -->
  </body>
</html>
