<!DOCTYPE html>
<html lang="{{ .Site.Params.LanguageCode }}" class="scroll-smooth">
<head>
    {{ partial "head.html" . }}
</head>
<body class="antialiased">
    {{ if .Site.Params.banner.text }}
        {{ partialCached "banner.html" . }}
    {{ end }}
    {{ partial "navbar.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "chatbot.html" . }}
    {{ partial "newsletter.html" . }}
    {{ $footer := (printf "%s%s%s" "" .Site.Params.footer.layout ".html" ) }}
    {{ if templates.Exists (printf "%s%s" "partials/" $footer ) }}
      {{ partialCached $footer . }}
    {{ end }} 
</body>
</html>

