{{define "main"}}

<!-- ======= Services Section ======= -->
<section class="services mt-5">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Blog</h2>
      <p>Here is our latest blog</p>
    </div>

    <div class="row">
      {{range .RegularPages}}
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch mt-5"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <a href="{{.Permalink}}" class="icon">
            {{ with .Params.image }}
              {{ partial "image-responsive" (dict "src" (. | relLangURL) "alt" $.Title "class" "img-fluid" "sizes" "(min-width: 1024px) 50vw, 100vw" "widths" (slice 640 1024 2048)) }}
            {{ end }}
          </a>
          <div class="content text-start">
            <h4><a href="{{.Permalink}}">{{.Title}}</a></h4>
            <p>{{.Description}}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
<!-- End Services Section -->

<!---->
{{end}}
