{{define "main"}}

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>The Harmony Team</h2>
      <p>The team working on Harmony was made up of</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="/assets/images/team/Eoin.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>
              <a href="https://www.ulster.ac.uk/staff/e-mcelroy" target="_blank"
                >Dr. Eoin McElroy</a
              >
            </h4>
            <span
              >Lecturer in Psychology at the University of Ulster, Northern
              Ireland</span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="/assets/images/team/Bettina.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>
              <a
                href="https://iris.ucl.ac.uk/iris/browse/profile?upi=MOLTR10"
                target="_blank"
                >Dr. Bettina Moltrecht</a
              >
            </h4>
            <span
              >Research Fellow in Population Health and Quantitative Social
              Science at University College London</span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="/assets/images/team/George.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>
              <a
                href="https://iris.ucl.ac.uk/iris/browse/profile?upi=GPLOU01"
                target="_blank"
                >Prof. George Ploubidis</a
              >
            </h4>
            <span
              >Professor of Population Health and Statistics at the Social
              Research Institute at University College London</span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="/assets/images/team/Mauricio.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>
              <a
                href="https://ufsmpublica.ufsm.br/docente/18264"
                target="_blank"
                >Dr. Mauricio Scopel Hoffmann</a
              >
            </h4>
            <span
              >Associate Professor in the Department of Neuropsychiatry at
              Universidade Federal de Santa Maria, Brazil</span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="/assets/images/team/Thomas.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>
              <a href="https://uk.linkedin.com/in/woodthom" target="_blank"
                >Dr. MauricThomas Wood</a
              >
            </h4>
            <span
              >Data scientist and natural language processing expert at Fast
              Data Science Ltd</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->

<!---->
{{end}}
