/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pragmatica';
    src: url(/fonts/PragmaticaRegular.woff2) format("woff2");
    font-weight: 400;
  }
}

.svg-sm svg {
  width: 1.375rem;
  height: 1.375rem;
}
.svg-md svg {
  width: 1.8125rem;
  height: 1.8125rem;
}
.svg-lg svg {
  width: 2rem;
  height: 2rem;
}
.svg-xl svg {
  width: 2.75rem;
  height: 2.75rem;
  @apply stroke-[1.25];
}

@layer utilities {
  .slide {
    animation: slide 15s linear infinite;
  }
  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

h1 strong, h2 strong, h3 strong, .text-highlight, .superheading strong {
  @apply font-bold;
  @apply text-transparent;
  @apply bg-clip-text; 
  @apply bg-gradient-to-r;
  @apply bg-aqua-400; 
  @apply from-aqua-400;
  @apply to-blue-600;
}

.button-gradient-1 {
  @apply bg-gradient-to-r;
  @apply bg-aqua-400; 
  @apply from-aqua-400;
  @apply to-blue-600;
  @apply text-white;
  @apply hover:bg-aqua-500; 
  @apply hover:from-aqua-500;
  @apply hover:to-blue-700;
}
.button-muted {
  @apply border;
  @apply border-primary-50;
  @apply bg-primary-50; 
  @apply dark:bg-primary-800;
  @apply dark:border-primary-800;
  @apply text-primary-500; 
  @apply dark:text-white; 
  @apply hover:text-white; 
  @apply hover:bg-primary-500; 
  @apply hover:border-primary-500;
}
.button-primary {
  @apply border; 
  @apply text-white; 
  @apply bg-primary-500; 
  @apply border-primary-500; 
  @apply hover:bg-primary-600; 
  @apply hover:border-primary-600; 
}
.button-secondary {
  @apply border; 
  @apply text-white; 
  @apply bg-primary-900; 
  @apply hover:bg-transparent; 
  @apply border-primary-900; 
  @apply hover:text-primary-900; 
  @apply dark:text-primary-900; 
  @apply dark:bg-white; 
  @apply dark:hover:bg-transparent; 
  @apply dark:border-white; 
  @apply dark:hover:text-white;
}
.button-outline {
  @apply border; 
  @apply border-primary-950; 
  @apply hover:bg-blue-950; 
  @apply hover:text-white; 
  @apply dark:border-white; 
  @apply dark:text-white; 
  @apply dark:hover:bg-white; 
  @apply dark:hover:text-primary-950;
}