<section id="{{ .block }}" class="overflow-hidden bg-cover bg-no-repeat bg-center {{ if eq .mode "muted" }}bg-primary-50{{ else if eq .mode "dark-muted" }}dark bg-primary-900{{ else if eq .mode "dark" }}dark bg-primary-950{{ end }}" 
{{ with resources.GetMatch .background_image }}
  {{ $img := .Resize "1280x" }}
  style="background-image: url({{ $img.RelPermalink }})"
{{ end }}>
  <div class="px-6 lg:px-8 {{ if eq .padding "top" }}pt-20 lg:pt-32{{ else if eq .padding "bottom" }}pb-20 lg:pb-32{{ else if eq .padding "none" }}{{ else }}py-20 lg:py-32{{ end }}">
