<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <img
              src="/assets/images/logo-green.png"
              alt="Logo"
              class="img-fluid"
              alt="{{ .Site.Title }}" width="240" height="67"
            />
            <p>
              Harmony is a tool for retrospective harmonisation of questionnaire
              data.
            </p>
            <div class="social-links mt-3">
              <a
                href="https://www.facebook.com/people/Harmony-Project/100086772661697/"
                class="facebook"
                title="facebook"
                target="_blank"
                ><i class="bi bi-facebook"></i
              ></a>

              <a
                href="https://twitter.com/harmony_data"
                class="twitter"
                title="twitter"
                target="_blank"
                ><i class="bi bi-twitter"></i
              ></a>

              <a
                href="https://www.instagram.com/harmonydata/"
                class="instagram"
                title="instagram"
                target="_blank"
                ><i class="bi bi-instagram"></i
              ></a>
              <a
                href="https://www.youtube.com/channel/UCraLlfBr0jXwap41oQ763OQ"
                class="google-plus"
                title="google-plus"
                target="_blank"
                ><i class="bi bi-youtube"></i
              ></a>
              <a
                href="https://www.linkedin.com/company/harmonydata/about/?viewAsMember=true"
                class="linkedin"
                title="linkedin"
                target="_blank"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="/fair-data">Fair Data</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="/projects-partners">Project & Partners</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>About us</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="/our-team">Our team</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="/frequently-asked-questions">FAQs</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>
            A global platform for contextual harmonisation, translation and
            cooperation in mental health research
          </p>
          <form action="" method="post">
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">Copyright &copy; 2023 Ulster University. Read our <a href="/privacy-policy">privacy policy</a>.</div>
  </div>
</footer>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/highlight/highlight.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
