<footer class="pt-20 lg:pt-24 pb-14 px-6 lg:px-8 {{ if eq .Site.Params.footer.mode "muted" }}bg-primary-50{{ else if eq .Site.Params.footer.mode "dark-muted" }}dark bg-primary-900{{ else if eq .Site.Params.footer.mode "dark" }}dark bg-blue-950{{ end }}">
  <div class="mx-auto max-w-7xl overflow-hidden">
    <nav class="flex flex-col sm:flex-row flex-wrap items-center justify-center gap-6 sm:gap-12" aria-label="Footer">
      {{ range .Site.Menus.footer }}
        <a href="{{ .URL }}" class="text-sm text-primary-950 dark:text-slate-100 hover:text-primary-500 dark:hover:text-primary-500"> {{ .Name }} </a>
      {{ end }}
    </nav>
    <div class="mt-10 flex justify-center space-x-8">
      {{ range .Site.Menus.social }}
        <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer" class="text-slate-600 dark:text-slate-300 hover:text-primary-500 dark:hover:text-primary-500 svg-sm">
          <span class="sr-only">{{ .Name }}</span>
          {{ $icon := printf "%s%s%s" "icons/" .Pre ".svg" }}
          {{ if templates.Exists (printf "%s%s" "partials/" $icon ) }}
            {{ partial $icon }}
          {{ end }}
        </a>
      {{ end }}
    </div>
    {{ with .Site.Copyright }}
      <p class="text-slate-600 dark:text-slate-300 text-sm mt-10 text-center">{{ . | markdownify }}</p>
    {{ end }}
  </div>
</footer>
