<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-lg-between">
    <a href="/" class="logo me-auto me-lg-0"
      ><img src="/assets/img/logo-white-logo.png" alt="" class="img-fluid"
    /></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="/">Home</a></li>
        <li>
          <a class="nav-link scrollto" href="/fair-data">FAIR Data</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/projects-partners"
            >Project and Partners</a
          >
        </li>
        <li class="dropdown">
          <a href="#"
            ><span>More About</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="/our-team">Team</a></li>
            <li>
              <a
                href="https://harmonydata.ac.uk/app/"
                target="_blank"
                >Tools</a
              >
            </li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/frequently-asked-questions">FAQs</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link scrollto" href="/contact">Contact Us</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

    <a
      href="https://harmonydata.ac.uk/app/"
      class="get-started-btn scrollto"
      target="_blank"
      >TRY HARMONY NOW!</a
    >
  </div>
</header>
