{{ partial "block-open.html" . }} 
  <div class="space-y-10 lg:space-y-14">
    {{ if or .superheading .heading .subheading }}
      <div class="max-w-3xl mx-auto text-center space-y-4 lg:space-y-5">
        {{ partial "components/superheading.html" . }}
        {{ partial "components/h2.html" . }}
        {{ partial "components/subheading.html" . }}
      </div>
    {{ end }}
    <div class="max-w-lg mx-auto {{ if eq .columns 2 }} lg:max-w-5xl{{ else }}lg:max-w-7xl{{ end }}">
      <div class="grid gap-10 lg:grid-cols-{{ .columns | default "3" }}">
        {{ range .cards }}
          <div x-data="{ expanded: false }" class="flex flex-col rounded-2xl border border-primary-200 dark:border-primary-800 h-full{{ if eq $.align "center" }} text-center p-6 sm:px-8 sm:py-11{{ else }} p-7{{ end }}{{- if eq $.mode "dark" }} bg-primary-900{{ else if eq $.mode "muted" }} bg-white{{ end -}}">
            {{ if .image }}
              <div class="h-[6rem] mb-6 flex justify-center items-center">
                {{ $plainHeading := .heading | markdownify | plainify }}
                {{ partial "components/image-responsive" (dict "src" (.image | relURL) "alt" $plainHeading "class" "max-w-[13rem] w-auto max-h-[6rem]" "sizes" "(min-width: 1024px) 50vw, 100vw" "widths" (slice 640 640 1024 2048)) }}
              </div>
            {{ end }}
            <div class="flex-1 space-y-3">
              {{ if .icon }}
                <div class="flex mb-6{{ if eq $.align "center" }} justify-center{{ end }}">
                  {{ partial "components/icon-box-primary.html" . }} 
                </div>
              {{ end }}
              <h3 class="text-2xl text-center font-heading font-bold text-blue-950">{{ .heading | markdownify }}</h3>
              <div class="leading-loose text-slate-600 content content-underline">
                {{ .description | markdownify }}
                {{ with .copy }}
                  <button x-on:click="expanded = ! expanded" class="inline-flex text-slate-500 hover:text-blue-600 items-center">
                    <span>More details</span>
                    <svg xmlns="http://www.w3.org/2000/svg" :class="{ 'rotate-90': expanded, 'transform-none': !(expanded) }" class="h-5 w-5 transform-none" viewBox="0 0 20 20" fill="currentcolor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414.0z" clip-rule="evenodd"></path></svg>
                  </button>
                {{ end }}              
              </div>
              {{ with .copy }}
                <div x-show="expanded" x-collapse class="leading-loose text-slate-600 content content-underline" style="display: none;">{{ . | markdownify }}</div>
              {{ end }}
            </div>
            {{ with .button }}
              <div class="mt-8 text-center">
                <a href="{{ .url | relLangURL }}"{{ if in .url "http" }} target="_blank" rel="noopener noreferrer"{{ end }} 
                  class="block w-full text-center transition rounded-full focus:outline-none font-heading font-bold px-2 py-2.5 text-sm bg-slate-100 text-blue-900 hover:text-blue-600">
                  {{ .text }}
                </a>
              </div>
            {{ end }}      
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ partial "block-close.html" . }}

