{{ partial "block-open.html" . }}
  <div class="space-y-10 lg:space-y-14">
    {{ if or .superheading .heading .subheading }}
      <div class="max-w-3xl mx-auto text-center space-y-4 md:space-y-5">
        {{ partial "components/superheading.html" . }}
        {{ partial "components/h2.html" . }}
        {{ partial "components/subheading.html" . }}
      </div>
    {{ end }}
    <div class="max-w-7xl mx-auto">
      <div class="lg:hidden">
        <div class="grid md:grid-cols-{{ len .plans | default 2 }} gap-y-20 gap-x-8">
          {{ range $i, $p := .plans }}
            <div>
              <div>
                {{ if .label }}
                  {{ partial "components/label.html" . }}
                {{ end }}  
              </div>
              <hr class="mt-6 border-primary-200 dark:border-primary-800">
              <div class="flex flex-col mt-8">
                <div class="flex-grow space-y-6 lg:pr-7 xl:pr-14">
                  <div class="flex items-baseline gap-x-1">
                    <span class="text-[2.75rem] font-bold tracking-tight dark:text-white leading-none">${{ .price }} </span>
                    <span class="text-slate-600 dark:text-slate-300 font-bold">/{{ .period | default "month" }}</span>
                  </div>
                  {{ if .copy }}
                    {{ partial "components/copy.html" . }}
                  {{ end }}
                </div>
                <div class="flex-none mt-6">
                  {{ with .button }}
                    {{ partial "components/button.html" . }}
                  {{ end }}
                </div>          
              </div>    
              {{ range $.features }}
                {{ if .heading }}
                  <div class="pt-12 pb-4 border-b border-primary-200 dark:border-primary-800">
                    <h3 class="font-bold text-base dark:text-white">{{ .heading }}</h3>
                  </div>
                  <div class="col-span-2 border-b border-primary-200 dark:border-primary-800"></div>
                {{ else }}
                  <div class="leading-6 pt-4 text-sm text-slate-600 dark:text-slate-300 font-bold">{{ .feature }}</div>
                  {{ with ( index .plans $i ) }}
                    <div class="flex items-center pb-4 pt-1 text-sm border-b border-primary-200 dark:border-primary-800 text-slate-600 dark:text-slate-300">
                      {{ if eq .item "check" }}
                        <svg class="text-primary-500 dark:text-primary-500" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7069 6.17951C16.8944 6.36703 16.9997 6.62134 16.9997 6.88651C16.9997 7.15167 16.8944 7.40598 16.7069 7.5935L8.70692 15.5935C8.51939 15.781 8.26508 15.8863 7.99992 15.8863C7.73475 15.8863 7.48045 15.781 7.29292 15.5935L3.29292 11.5935C3.11076 11.4049 3.00997 11.1523 3.01224 10.8901C3.01452 10.6279 3.11969 10.3771 3.3051 10.1917C3.49051 10.0063 3.74132 9.90111 4.00352 9.89883C4.26571 9.89655 4.51832 9.99735 4.70692 10.1795L7.99992 13.4725L15.2929 6.17951C15.4804 5.99203 15.7348 5.88672 15.9999 5.88672C16.2651 5.88672 16.5194 5.99203 16.7069 6.17951Z" fill="currentColor"/>
                        </svg>
                      {{ else if eq .item "dash" }}
                        <svg class="text-slate-400 dark:text-slate-500" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10.8867C3 10.6215 3.10536 10.3671 3.29289 10.1796C3.48043 9.99208 3.73478 9.88672 4 9.88672H16C16.2652 9.88672 16.5196 9.99208 16.7071 10.1796C16.8946 10.3671 17 10.6215 17 10.8867C17 11.1519 16.8946 11.4063 16.7071 11.5938C16.5196 11.7814 16.2652 11.8867 16 11.8867H4C3.73478 11.8867 3.48043 11.7814 3.29289 11.5938C3.10536 11.4063 3 11.1519 3 10.8867Z" fill="currentColor"/>
                        </svg>
                      {{ else }}
                        {{ .item }}
                      {{ end }}
                      {{ if .tooltip }}
                        <button class="ml-1 hover:opacity-75" type="button" aria-label="Tooltip" onmouseenter="openPopover(event,'{{ .feature | urlize }}-2')" onmouseleave="openPopover(event,'{{ .feature | urlize }}-2')">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                          </svg>                      
                        </button>
                        <div class="hidden border-0 mb-3 z-50 leading-tight text-xs max-w-xs text-left no-underline break-words rounded-lg text-slate-400 dark:text-slate-500" id="{{ .feature | urlize }}-2">
                          <div class="bg-white dark:bg-primary-900 dark:text-white dark:border-primary-800 p-3 mb-0 border border-solid shadow rounded">{{ .tooltip | markdownify }}</div>
                        </div>
                      {{ end }}
                    </div>
                  {{ end }}
                {{ end }}
              {{ end }}
              {{ with .button }}
                <div class="mt-6 lg:text-center">
                  {{ partial "components/button.html" . }}
                </div>
              {{ end }}            
            </div>
          {{ end }}
        </div>
      </div>
    
      <div class="hidden lg:block">
        <div class="grid lg:grid-cols-3">
          <div></div>
          {{ range .plans }}
            <div>
              {{ if .label }}
                {{ partial "components/label.html" . }}
              {{ end }}  
            </div>
          {{ end}}
        </div>
        <hr class="mt-6 border-primary-200 dark:border-primary-800">
        <div class="grid lg:grid-cols-3 mt-8">
          <div class="font-bold text-sm dark:text-white">{{ i18n "pricing" }}</div>
          {{ range .plans }}
            <div class="flex flex-col">
              <div class="flex-grow space-y-6 lg:pr-7 xl:pr-14">
                <div class="flex items-baseline gap-x-1">
                  <span class="text-[2.75rem] font-bold tracking-tight dark:text-white leading-none">${{ .price }} </span>
                  <span class="text-slate-600 dark:text-slate-300 font-bold">/{{ .period | default "month" }}</span>
                </div>
                {{ if .copy }}
                  {{ partial "components/copy.html" . }}
                {{ end }}
              </div>
              <div class="flex-none mt-6">
                {{ with .button }}
                  {{ partial "components/button.html" . }}
                {{ end }}
              </div>          
            </div>   
          {{ end}}
        </div>
        <div class="grid grid-cols-3 mt-6">
          {{ range .features }}
            {{ if .heading }}
              <div class="pt-12 pb-4 border-b border-primary-200 dark:border-primary-800">
                <h3 class="font-bold text-sm dark:text-white">{{ .heading }}</h3>
              </div>
              <div class="col-span-2 border-b border-primary-200 dark:border-primary-800"></div>
            {{ else }}
              <div class="leading-6 py-4 text-sm border-b border-primary-200 dark:border-primary-800 text-slate-600 dark:text-slate-300">{{ .feature }}</div>
              {{ range .plans }}
                <div class="flex items-center py-4 text-sm border-b border-primary-200 dark:border-primary-800 text-slate-600 dark:text-slate-300">
                  {{ if eq .item "check" }}
                    <span class="p-1 rounded-full bg-primary-50 dark:bg-primary-900">
                      <svg class="text-primary-500 dark:text-primary-500 w-4 h-4" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7069 6.17951C16.8944 6.36703 16.9997 6.62134 16.9997 6.88651C16.9997 7.15167 16.8944 7.40598 16.7069 7.5935L8.70692 15.5935C8.51939 15.781 8.26508 15.8863 7.99992 15.8863C7.73475 15.8863 7.48045 15.781 7.29292 15.5935L3.29292 11.5935C3.11076 11.4049 3.00997 11.1523 3.01224 10.8901C3.01452 10.6279 3.11969 10.3771 3.3051 10.1917C3.49051 10.0063 3.74132 9.90111 4.00352 9.89883C4.26571 9.89655 4.51832 9.99735 4.70692 10.1795L7.99992 13.4725L15.2929 6.17951C15.4804 5.99203 15.7348 5.88672 15.9999 5.88672C16.2651 5.88672 16.5194 5.99203 16.7069 6.17951Z" fill="currentColor"/>
                      </svg>
                    </span>
                  {{ else if eq .item "dash" }}
                    <span class="p-1 rounded-full bg-red-50 dark:bg-primary-900">
                      <svg class="text-red-400 dark:text-red-500 w-4 h-4" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10.8867C3 10.6215 3.10536 10.3671 3.29289 10.1796C3.48043 9.99208 3.73478 9.88672 4 9.88672H16C16.2652 9.88672 16.5196 9.99208 16.7071 10.1796C16.8946 10.3671 17 10.6215 17 10.8867C17 11.1519 16.8946 11.4063 16.7071 11.5938C16.5196 11.7814 16.2652 11.8867 16 11.8867H4C3.73478 11.8867 3.48043 11.7814 3.29289 11.5938C3.10536 11.4063 3 11.1519 3 10.8867Z" fill="currentColor"/>
                      </svg>
                    </span>
                  {{ else }}
                    {{ .item }}
                  {{ end }}
                  {{ if .tooltip }}
                    <button class="ml-1 hover:opacity-75" type="button" aria-label="Tooltip" onmouseenter="openPopover(event,'{{ .feature | urlize }}-3')" onmouseleave="openPopover(event,'{{ .feature | urlize }}-3')">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                      </svg>                      
                    </button>
                    <div class="hidden border-0 mb-3 z-50 leading-tight text-xs max-w-xs text-left no-underline break-words rounded-lg text-slate-400 dark:text-slate-500" id="{{ .feature | urlize }}-3">
                      <div class="bg-white dark:bg-primary-900 dark:text-white dark:border-primary-800 p-3 mb-0 border border-solid shadow rounded">{{ .tooltip | markdownify }}</div>
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
        <div class="grid lg:grid-cols-3 mt-8">
          <div class="flex items-center">
            <h3 class="font-bold text-sm dark:text-white">{{ i18n "choose_plan" }}</h3>
          </div>
          {{ range .plans }}
            <div class="pl-1">
              {{ with .button }}
                {{ partial "components/button.html" . }}
              {{ end }}            
            </div>
          {{ end }} 
        </div>
      </div>
    
      <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
      <script>
        function openPopover(event, tooltipID) {
          let element = event.target;
          while (element.nodeName !== "BUTTON") {
            element = element.parentNode;
          }
          var popper = Popper.createPopper(
            element,
            document.getElementById(tooltipID),
            {
              placement: "top",
            }
          );
          document.getElementById(tooltipID).classList.toggle("hidden");
        }
      </script>
    </div>
  </div>
{{ partial "block-close.html" . }}